* {
    margin: 0;
}

body {
     background-color: #ffffff;
}

.card-fluid {
    margin: 3em auto;
    float: none;
    display: flex;
    flex-direction: column;
    width: 30em;
    height: 35em;
    background-color: #b1e1f3;
    border-radius: 5px;
    box-shadow: 0 15px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#inner {
    margin: 2em auto 0;
}
h1{
    font-family: 'Roboto';
}

h2 {
    font-family: 'Roboto';
    font-size: 2.2em;
    border: 10px solid #2185d0;
    background-color: #2185d0;
}
h4 {
    font-family: 'Roboto';
    font-weight: 300;
}

label {    
    font-size: 1.1em;
    display: block;
    margin: .3em 0;
}

.insert {
    width: 100%;
    display: inline-flex;
}

input {
    border: 1px solid rgba(34,36,38,.15);
    width: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: .5em .8em;
    color: rgba(0,0,0,.67);
    border-right-color: transparent;
}

.ui-label {
    border: 1px solid rgba(34,36,38,.15);
    background-color: #fff;
    width: 40px;
    font-weight: 600;
    padding: .2em .3em;
    text-align: center;
    color: rgba(0,0,0,.67);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}   

select {
    width: 100%;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 3px;
    padding: .5em 0;
    font-weight: 400;
}

button {
    background-color: #2185d0;
    float: right;
    margin: 1.5em 0 1em;
    border: none;
    border-radius: 3px;
    padding: .5em 1em;
    color: #fffff3;
    font-size: 1em;
    width: 45%;
}
